@tailwind base;
@tailwind components;
@tailwind utilities;

/* .menucard{
    shadow-[0_3px_10px_rgb(0,0,0,0.2)]
} */

.category{
    display: flex;
    flex-direction: row;
}

.category:before,
.category:after{
    content: "";
    flex: 1 0;
    border-bottom: 2px solid #000;
    margin: 10px;
    /* position: absolute; */

}


